<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/user/showPlayByConditions.action" method="post">
    play_name
    <input type="text" name="play_name"/><br/>
    <input type="text" name="type"/><br/>
    <input type="submit"  value="查看"/><br/>
</form>
<br/>
<br/>
<tr th:each="play:${select_result}">

    <form action="/user/showPlayDetails.action" method="post">

        play_id
        <input th:value="${play.play_id}"
               type="text" name="play_id" required="required"/><br/>

        play_name
        <input th:value="${play.play_name}"
               type="text" name="play_name" required="required"/><br/>

        image
        <input th:value="${play.image}"
               type="text" name="image" required="required"/><br/>
        code
        <input th:value="${play.code}"
               type="text" name="code" required="required"/><br/>

        <!--duration
        <input th:value="${play.duration}"
               type="text" name="duration" required="required"/><br/>

        status
        <input th:value="${play.status}"
               type="text" name="status" required="required"/><br/>
        price
        <input th:value="${play.price}"
               type="text" name="price" required="required"/><br/>

        start_time
        <input th:value="${play.start_time}"
               type="text" name="start_time" required="required"/><br/>

        end_time
        <input th:value="${play.end_time}"
               type="text" name="end_time" required="required"/><br/>

        type
        <input th:value="${play.type}"
               type="text" name="type" required="required"/><br/>

        description
        <input th:value="${play.description}"
               type="text" name="description" required="required"/><br/>-->
        <input type="submit" name="submit" value="查看详情"/><br/>

    </form>
</tr>
</body>
</html>